<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/PET-LIVRE-favicon.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/<%=css%>.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" integrity="sha256-tE7dtC6zAyiipzMSh/6TOh90osOevsvkIPqVqhHAwhc=" crossorigin="anonymous" />

    <title><%=title%></title>

    <% if(title==='Minha Conta') {%> 
    <script>
        let cidades = <%-JSON.stringify(cidades)%>
    </script>
    <% } %> 

    <% if(title==="Carrinho") {%>
        <script>
            let carrinho = <%-JSON.stringify(carrinho)%>
        </script>
    <% } %> 
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm bg-white text-dark">
            <div class="container">
                <div class="text-blue mb-2 logo ">
                    <img src="/images/logoAzul.svg" height="50px" class="logo-azul" alt="Logo Pet Livre">
                    <a href="/" class="navbar-brand text-decoration-none text-reset text-uppercase py-0">pet livre</a>
                </div>
                <form action="/pesquisa" method="GET" class="form-inline search-group">
                    <div class="input-group">
                        <label for="search" class="sr-only">Pesquisar</label>
                        <input id="search" type="text" class="form-control text-blue" placeholder="Pesquisa..." name="search">
                        <div class="input-group-append">
                            <button id="search-button" class="btn fas fa-search text-blue" type="submit"></button>
                        </div><!-- input-group-append -->
                    </div><!-- input-group -->
                </form>
            </div><!-- container -->
        </nav>
        <!--top nav-->

        <nav class="navbar navbar-expand-sm bg-blue text-white stick-top py-0">
            <div class="container">
                <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#myNavbar"
                    aria-controls="myNavbar" aria-expanded="false" aria-label="Menu de Navegação">
                    <i class="fas fa-bars text-white mr-2"></i>Menu
                </button>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="navbar-nav">
                        <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold px-2 <%- (active == 'Home') ? 'active' : ''%>" href="/">Home</a>
                        <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold px-2 <%- (active == 'Loja') ? 'active' : ''%>" href="/loja">Loja</a>
                        <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold px-2 <%- (active == 'Adoção') ? 'active' : ''%>" href="/adocao">Adoção</a>
                        <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold px-2 <%- (active == 'Contato') ? 'active' : ''%>" href="/contato">Contato</a>
                    </div><!-- navbar -->
                </div><!-- collapse -->
                <div class="d-flex justify-content-between align-items-center pr-2">
                    <% if(typeof(usuario) == 'undefined') { %>
                    <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold" href="/login">Login</a>
                    <a class="nav-link nav-item text-decoration-none text-reset font-weight-bold" href="/cadastro">Cadastre-se</a>
                    <% } else { %>
                    <div class="divCart">
                        <span class="badge badge-danger badge-pill"><%=carrinho.length%></span>
                    <a href="/carrinho"
                        class="text-decoration-none text-white material-icons shopping-cart">shopping_cart</a>
                    </div>
                    <div class="dropdown">
                        <a href="#" id="profileMenu" 
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <% if(!usuario.imagem) {%>
                                <img src="../public/images/profiles/default.png" height="35" width="35" alt="Foto do Perfil"
                                class="profile-picture">
                            <%} else {%>
                                <img src="../<%= usuario.imagem %> " height="35" width="35" alt="Foto do Perfil"
                                class="profile-picture">
                            <%}%>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">
                            <a class="dropdown-item text-blue" href="/usuario">Perfil</a>
                            <a class="dropdown-item text-blue" href="/usuario/compras">Minhas Compras</a>
                            <a class="dropdown-item text-blue" href="/usuario/vendas">Minhas Vendas</a>
                            <a class="dropdown-item text-blue" href="/usuario/produtos">Meus Produtos</a>
                            <a class="dropdown-item text-blue" href="/usuario/doacoes">Minhas Doações</a>
                            <a class="dropdown-item text-blue" href="/usuario/vender">Vender</a>
                            <a class="dropdown-item text-blue" href="/usuario/doar">Doar</a>
                            <a class="dropdown-item text-blue" href="/sair">Sair</a>
                        </div><!-- dropdown-menu -->
                    </div><!-- dropdown -->
                    <% } %>
                </div><!-- perfil -->
            </div><!-- container -->
        </nav><!-- bottom nav -->
    </header>