<%- include('./partials/header', {active: title}) %>

<section class="first">
    <div class="container divInfo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none container opcoes">
            <a class="active-option px-3" href="#">Opções</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-down"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/usuario"><i class="fas fa-user px-1"></i>Dados Cadastrais</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/compras"><i class="fas fa-shopping-bag px-1"></i>Minhas
                            Compras</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/vendas"><i class="fas fa-clipboard-check px-1"></i>Minhas Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/vendas"><i class="fab fa-product-hunt px-1"></i>Meus Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/vender"><i class="fas fa-handshake px-1"></i>Vender</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/doar" class="active"><i class="fas fa-paw px-1"></i>Doar</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row container">
            <div class="col-md-3 d-none d-md-block" id="links">
                <a href="/usuario" class="text-blue"><i class="fas fa-user px-1"></i>Dados Cadastrais</a>
                <hr>
                <a href="/usuario/compras" class="text-blue"><i class="fas fa-shopping-bag px-1"></i>Minhas Compras</a>
                <hr>
                <a href="/usuario/vendas" class="text-blue"><i class="fas fa-clipboard-check px-1"></i>Minhas Vendas</a>
                <hr>
                <a href="/usuario/produtos" class="text-blue"><i class="fab fa-product-hunt px-1"></i>Meus Produtos</a>
                <hr />
                <a href="/usuario/vender" class="text-blue"><i class="fas fa-handshake px-1"></i>Vender</a>
                <hr>
                <a href="/usuario/doar" class="active"><i class="fas fa-paw px-1"></i>Doar</a>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="h3 text-blue text-center mb-3">Cadastro do Pet</div>
                <div class="row">
                    <div class="col border-right">
                        <div class="d-flex justify-content-center">
                            <span class="h3 mb-5 text-blue">Foto</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/images/pets/default.png" alt="Foto/Logo" width="200px" height="200px"
                                class="image-preview mb-5" id="image-preview">
                        </div>
                        <div class="d-flex justify-content-center">
                            <label for="image-selector" class="btn btn-site">
                                Selecione Imagem
                                <input class="form-control d-none" type="file" id="image-selector" name="imagem">
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <form action="/pet/novo" method="post">
                            <div id="cadastro-dados">
                                <div class="form-group mb-4">
                                    <input id="nome" class="form-control input-decoration" type="text" name="nome"
                                        placeholder="Nome do Pet">
                                </div>
                                <div class="form-group mb-4">
                                    <textarea name="descricao" id="descricao" class="form-control input-decoration"
                                        rows="10" placeholder="Descrição" type="text"></textarea>
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mb-4 mr-1">
                                        <input id="raca" class="form-control input-decoration" type="text"
                                            name="raca" placeholder="Raça" columns="4">
                                    </div>
                                    <div class="form-group mb-4 mr-1">
                                        <input id="idade" class="form-control input-decoration" type="number"
                                            name="idade" placeholder="Idade" columns="4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-decoration" id="categoria" name="categoria">
                                        <% for(cat of categorias) { %>
                                            <option name=<%= cat.id %> id=<%= cat.id %> ><%= cat.categoria %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mb-4 mr-1">
                                        <input id="contato" class="form-control input-decoration" type="text"
                                            name="contato" placeholder="Contato" columns="4">
                                    </div>
                                </div>
                                <input class="form-control d-none" type="hidden" name="imagemb64" id="imagemb64"
                                    value="">
                                <div class="botoes" id="botaocadastro">
                                    <button class="btn btn-site mr-5 mb-4 mt-3">Adicionar para adoção</button>
                                </div>
                            </div>
                            <div class="modal fade" id="image-cropper" data-backdrop="static" tabindex="-1"
                                role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-blue" id="staticBackdropLabel">Ajuste da Imagem
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="canvas">

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button id="pronto" type="button" class="btn btn-site"
                                                data-dismiss="modal">Pronto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
</div>
</div>
</section>
<script src="/public/javascripts/cadastro.js"></script>
<%- include('./partials/footer') %>