<%- include('./partials/header', {active: title}) %>

<section id="shopCart" class="container first">
    <div class="row">
        <% if (carrinho.length > 0){ %>
        <div class="col-md-8">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-blue">Resumo do Pedido</span>
            </h4>

            <ul class="list-group mb-3">
                <% for (item of carrinho) {%>
                <li class="list-group-item d-flex justify-content-between lh-condensed py-2" id="listaCarrinho">
                    <div class="col-8">
                        <div class="col-12 px-0 py-1">
                            <h6 class="my-0 text-blue"><%=item.produto.nome%></h6>
                        </div>
                        <div class="col-12 px-0 py-1"><span class="text-pink"><strong>Quantidade: </strong></span>
                            <input type="number" min="1" class="ml-2 qtd input-decoration" value=<%= item.quantidade%>
                                id="<%= item.id %>"></div>
                    </div>
                    <div class="col-4">
                        <div class="col-12 text-right preco">
                            <span class="text-muted valor" id="valor<%= item.id %>"> R$<%=item.produto.preco%></span>
                        </div>

                        <div class="col-12 text-right delete">
                            <form class="deleteItem<%= item.id %>" id="<%= item.id %> ">
                                <button class="btn btn-site"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>

                    </div>
                    <%} %>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-blue">Seu carrinho</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <div class="col-12 d-flex justify-content-between">
                        <span>Total (BRL)</span>
                        <strong class="text-right" id="total"></strong>
                    </div>
                </li>
            </ul>
            <a href="/finalizarPedido"><button class="btn btn-site">Finalizar Pedido</button></a>
        </div>
    </div>
    <h2 class="text-blue">Quem comprou também viu:</h2>
    <div class="row">
        <% for (let i = 0; i < 4; i++){%> 
        <div class="col-sm-6 col-md-3 p-1">
            <a href="produto/detalheProduto?id=<%= relacionados[i].id %> ">
                <div class="card" >
                    <img src="<%= relacionados[i].imagem[0].imagem %> " class="card-img-top" alt="Nome do pet" />
                    <div class="card-body">
                        <h5 class="card-title text-truncate"><%= relacionados[i].nome %> </h5>
                        <p class="card-text"><%= relacionados[i].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'}) %> </p>
                    </div>
                </div>
            </a>
        </div>
    <%} %> 
    </div>
    <%} else { %>
    <div class="w-100">
        <h3>Seu carrinho está vazio</h3><br>
        <p class="text-center">Adicione algo na <a href="/loja">Loja</a></p>
    </div>

    <%} %>
    </div>

</section>
<script src="/javascripts/jquery-3.5.1.js"></script>
<script src="/javascripts/carrinho.js"></script>

<%- include('./partials/footer') %>