<%- include('./partials/header', {active: title}) %>

<section id="shopCart" class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Resumo do Pedido</span>
            </h4>
            <ul class="list-group mb-3">
                <% for (item of carrinho) {%>
                <li class="list-group-item d-flex justify-content-between lh-condensed py-3" id="listaCarrinho">
                    <div class="col-9">
                        <h6 class="my-0"><%=item.produto.nome%></h6>
                        <span class="text-muted"> Quantidade: </span>
                        <input type="number" class="ml-2" value=<%= item.quantidade%> id="<%= item.id %>">
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <span class="text-muted" id="valor<%= item.id %>"> R$<%=item.produto.preco%></span>
                        <form>
                            <button class="btn btn-site ml-2"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                    <%} %>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Seu carrinho</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Total dos Produtos</h6>
                        <small class="text-muted">Breve descrição</small>
                    </div>
                    <span class="text-muted" id="totalProdutos">R$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Frete</h6>
                        <small class="text-muted">Breve descrição</small>
                    </div>
                    <span class="text-muted">R$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Código de promoção</h6>
                        <small>CODIGOEXEMEPLO</small>
                    </div>
                    <span class="text-success">-R$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (BRL)</span>
                    <strong id="total">R$15</strong>
                </li>
            </ul>
        </div>
    </div>
    <h2>Quem comprou também viu:</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2">
                        <a href="./login.html">
                            <div class="card" style="width: auto;">
                                <img src="./images/NoPath-2.png" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do produto</h5>
                                    <p class="card-text">R$ 00,00</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascripts/carrinho.js"></script>

<%- include('./partials/footer') %>