<%- include('./partials/header', {active: title}) %>
<section id="navCategorias" class="mb-3">
    <nav class="navbar navbar-expand-sm bg-white py-0">
        <div class="container">
            <button class="navbar-toggler text-blue" type="button" data-toggle="collapse"
                data-target="#myNavbarCategorias" aria-controls="myNavbarCategorias" aria-expanded="false"
                aria-label="Menu de categorias">
                <i class="fas fa-bars text-blue mr-2"></i>Categorias
            </button>
            <span class="text-blue"><strong class="ml-2">Categorias</strong></span>

            <div class="container collapse navbar-collapse text-blue" id="myNavbarCategorias">
                <div class="navbar-nav row">
                    <% for (let categoria of categoriaPetAll) {%>   
                    <a class="nav-link nav-item py-0 text-decoration-none text-reset active"
                        href="/produto/categoriaPet?id=<%=categoria.id%>"><%=categoria.categoria%></a>
                        <%}%>
                </div><!-- navbar -->
            </div><!-- collapse -->
        </div>
    </nav>
</section>
    <section id="catLoja" class="container">
        <div class="row">
            <div class="col-md-2 d-none d-md-block filtros">
                <ul>
                    <div>
                        <a class="text-decoration-none text-blue" href="/produto/categoriaPet?id=<%=categoriaPet.id%>" id="categoria-Pet"><li><%= categoriaPet.categoria %></li></a>
                        
                        <% for ( let i = 0; i < novaCategoriasProduto.length; i++  ) {%>
                            <div class="opcao">
                                <a class="text-decoration-none text-blue" href="/produto/categoriaPet?id=<%= categoriaPet.id%>&categoriaProdutoId=<%=novaCategoriasProduto[i].id%>%>">
                                    <%=novaCategoriasProduto[i].categoria%></a>
                            </div>
                        <%}%>
                    </div>
                    <div>
                        <li class="text-decoration-none text-blue">Preço</li>
                        <div class="opcao"><a href="/produto<%=queryAtual%>&preco=200"  class="text-decoration-none text-blue">Até R$200</a></div>
                        <div class="opcao"><a href="/produto<%=queryAtual%>&preco=500"  class="text-decoration-none text-blue">Até R$500</a></div>
                        <div class="opcao"><a href="/produto<%=queryAtual%>&preco=100000" class="text-decoration-none text-blue">Mais de R$500</a></div>
                    </div>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <div class="container">
                    <div class="col-12">
                        <div class="dropdown my-2">
                            <a class="btn dropdown-toggle btn-sm text-decoration-none text-blue" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Ordenar por:
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item text-decoration-none text-blue" href="/produto<%=queryAtual%>&ordem=DESC">Maior preço</a>
                              <a class="dropdown-item text-decoration-none text-blue" href="/produto<%=queryAtual%>&ordem=ASC">Menor preço</a>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                            <% for ( let i = 0; i < produtoAll.length; i++) {%>
                                    <div class="col-md-3 col-12 justify-content-between mb-4">
                                    <a class="text-decoration-none text-blue" href="/produto/detalheProduto?id=<%=produtoAll[i].id%>">
                                       <div class="card" style="width: auto;">
                                           <img src="<%=produtoAll[i].imagem[0].imagem%>"
                                               class="card-img-top" alt="Nome do produto">
                                           <div class="card-body">
                                               <h6 class="card-title text-truncate" id="nomeProduto"><%=produtoAll[i].nome%>
                                               </h6>
                                               <p class="card-text" id="precoProduto"><%=produtoAll[i].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})%></p>
                                            </div>  
                                       </div>
                                   </a>
                               </div>
                        <% } %>
                        
                    </div>
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center text-decoration-none text-blue">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <% for (let nrPagina = 1; nrPagina <= totalPagina; nrPagina++) {%>
                            <%=console.log(totalPagina)%>
                            <li class="page-item"><a class="page-link" href="/produto<%=queryAtual%>&page=<%=nrPagina%>"><%=nrPagina%></a></li>
                          <%}%>

                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>