<%- include('./partials/header', {active: title}) %>
<section id="navCategorias" class="mb-3">
    <nav class="navbar navbar-expand-sm bg-white py-0">
        <div class="container">
            <button class="navbar-toggler text-blue" type="button" data-toggle="collapse"
                data-target="#myNavbarCategorias" aria-controls="myNavbarCategorias" aria-expanded="false"
                aria-label="Menu de categorias">
                <i class="fas fa-bars text-blue mr-2"></i>Categorias
            </button>
            <a class="nav-link nav-item py-0 text-decoration-none text-blue d-none d-sm-block"
                href="#"> <i class="fas fa-bars text-blue mr-1"><strong class="ml-2">Categorias</strong></i> </a>

            <div class="container collapse navbar-collapse text-blue" id="myNavbarCategorias">
                <div class="navbar-nav row">
                    <% for (let categoria of categoriaPetAll) {%>   
                    <a class="nav-link nav-item py-0 text-decoration-none text-reset active"
                        href="/produto/categoriaPet?id=<%=categoria.id%>"><%=categoria.categoria%></a>
                        <%}%>
                </div><!-- navbar -->
            </div><!-- collapse -->
        </div>
    </nav>
</section>
    <section id="catLoja" class="container">
        <div class="row">
            <div class="col-md-2 d-none d-md-block filtros">
                <ul>
                    <div>
                        <a href="/produto/categoriaPet?id=<%=categoriaPet.id%>" id="categoria-Pet"><li><%= categoriaPet.categoria %></li></a>
                        
                        <% for ( let i = 0; i < novaCategoriasProduto.length; i++  ) {%>
                            <div class="opcao">
                                <a href="/produto/categoriaPet?id=<%= categoriaPet.id%>&categoriaProdutoId=<%=novaCategoriasProduto[i].id%>%>">
                                    <%=novaCategoriasProduto[i].categoria%></a>
                            </div>
                        <%}%>
                    </div>
                    <div>
                        <li>Preço</li>
                        <div class="opcao"><input type="checkbox" name="preco" id="">Até R$200</div>
                        <div class="opcao"><input type="checkbox" name="preco" id="">de R$200 a R$500</div>
                        <div class="opcao"><input type="checkbox" name="preco" id="">Mais de R$500</div>
                    </div>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <div class="container">
                    <div class="row">
                        <% if (idCategoriaProduto != undefined) {%>
                            <% for ( let i = 0; i < categoriaPet.categoria_pet_produto.length; i++) {%>
                                <% if (categoriaPet.categoria_pet_produto[i].categoria.dataValues.id == idCategoriaProduto) { %>
                                    <div class="col-md-3 col-12 justify-content-between mb-4">
                                    <a href="/produto/detalheProduto?id=<%=categoriaPet.categoria_pet_produto[i].id%>">
                                       <div class="card" style="width: auto;">
                                           <img src="<%=categoriaPet.categoria_pet_produto[i].imagem[0].dataValues.imagem%>"
                                               class="card-img-top" alt="Nome do produto">
                                           <div class="card-body">
                                               <h6 class="card-title text-truncate" id="nomeProduto"><%=categoriaPet.categoria_pet_produto[i].nome%>
                                               </h6>
                                               <p class="card-text" id="precoProduto">R$ <%=categoriaPet.categoria_pet_produto[i].preco%></p>
                                            </div>  
                                       </div>
                                   </a>
                               </div>
                               <%}%>
                            <%}%>
                        <%} else if (idCategoriaProduto == undefined){%>
                            
                            <% for ( let i = 0; i < categoriaPet.categoria_pet_produto.length; i++) {%>
                                <div class="col-md-3 col-12 justify-content-between mb-4">
                                <a href="/produto/detalheProduto?id=<%=categoriaPet.categoria_pet_produto[i].id%>">
                                   <div class="card" style="width: auto;">
                                       <img src="<%=categoriaPet.categoria_pet_produto[i].imagem[0].dataValues.imagem%>"
                                           class="card-img-top" alt="Nome do produto">
                                       <div class="card-body">
                                           <h6 class="card-title text-truncate" id="nomeProduto"><%=categoriaPet.categoria_pet_produto[i].nome%>
                                           </h6>
                                           <p class="card-text" id="precoProduto">R$ <%=categoriaPet.categoria_pet_produto[i].preco%></p>
                                        </div>  
                                   </div>
                               </a>
                           </div>
                        <% } } %>
                        
                    </div>
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>