<%- include('./partials/header', {active: title}) %>
<section class="first" id="pesquisa">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="pesquisaBox" class="py-1 pt-3 mb-md-5 form-group">
                    <h1 class="text-blue">Pesquisar Pet</h1>
                    <form class="container form-group" action="categoriaAdocao.html">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-4 mt-1">
                                <select class="form-control input-decoration" id="categoria">
                                    <% for(cat of categorias) { %>
                                    <option name=<%= cat.id %> id=<%= cat.id %>><%= cat.categoria %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-md-2 mt-1">
                                <button class="btn btn-site btn-pesquisar">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container" id="petDisp">
    <h2 class="text-blue">Pets disponíveis para adoção</h2>
    <div class="row">
        <% for (pet of pets) { %>
        <div class="col-sm-6 col-md-3 p-1">
            <a href="/pet/detalheAdocao?id=<%=pet.id%> ">
                <div class="card" >
                    <img src="<%= pet.imagem[0].imagem %> " class="card-img-top" alt="Nome do pet" />
                    <div class="card-body">
                        <h5 class="card-title"><%=pet.nome%></h5>
                        <p class="card-text"><%=pet.raca%></p>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
    </div>
    </div>
</section>
<%- include('./partials/footer') %>