<%- include('./partials/header', {active: title}) %>

<section id="navCategorias" class="mb-3">
    <nav class="navbar navbar-expand-sm bg-white py-0">
        <div class="container">
            <button class="navbar-toggler text-blue" type="button" data-toggle="collapse"
                data-target="#myNavbarCategorias" aria-controls="myNavbarCategorias" aria-expanded="false"
                aria-label="Menu de categorias">
                <i class="fas fa-bars text-blue mr-2"></i>Categorias
            </button>
            <span class="text-blue"><strong class="ml-2">Categorias</strong></span>

            <div class="container collapse navbar-collapse text-blue" id="myNavbarCategorias">
                <div class="navbar-nav row">
                    <% for (let categoria of categoriaPet) {%>
                    <a class="nav-link nav-item py-0 text-decoration-none text-reset active"
                        href="/produto/categoriaPet?id=<%=categoria.id%>"><%=categoria.categoria%></a>
                        <%}%>
                </div><!-- navbar -->
            </div><!-- collapse -->
        </div>
    </nav>
</section>

<section id="featured" class="mb-3">
    <div class="container p-0">
        <div class="h3 text-blue">Destaques</div>
        <div id="carouselStoreDeals" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item px-3 active">
                    <div class="row">
                        <% for( let i = 1; i <= 6; i++) {%>
                            <div class="col-md-2 col-12 px-1 py-2">  
                                <a href="/produto/detalheProduto?id=<%=destaques[ i - 1].id%>" class="text-decoration-none text-blue">
                                    <div class="card" style="width: auto;">
                                        <img src="<%=destaques[i -1].get().imagem[0].imagem%>"
                                            class="card-img-top" alt="Nome do produto">
                                        <div class="card-body">
                                            <h5 class="card-title text-truncate" id="nomeProduto"><%=destaques[i -1].nome%></h5>
                                            <p class="card-text" id="precoProduto"><%=destaques[i -1].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})%></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <%}%>
                    </div>
                </div>
                    <div class="carousel-item px-3">
                        <div class="row">
                            <% for( let i = 7; i <= 12; i++) {%>
                                <div class="col-md-2 col-12 px-1 py-2">  
                                    <a href="/produto/detalheProduto?id=<%=destaques[ i - 1].id%>" class="text-decoration-none text-blue">
                                        <div class="card" style="width: auto;">
                                            <img src="<%=destaques[i -1].get().imagem[0].imagem%>"
                                                class="card-img-top" alt="Nome do produto">
                                            <div class="card-body">
                                                <h5 class="card-title text-truncate" id="nomeProduto"><%=destaques[i -1].nome%></h5>
                                                <p class="card-text" id="precoProduto"><%=destaques[i -1].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})%></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <%}%>
                        </div>
                    </div>
                    <div class="carousel-item px-3">
                        <div class="row">
                            <% for( let i = 13; i <= 18; i++) {%>
                                <div class="col-md-2 col-12 px-1 py-2">  
                                    <a href="/produto/detalheProduto?id=<%=destaques[ i - 1].id%>" class="text-decoration-none text-blue">
                                        <div class="card" style="width: auto;">
                                            <img src="<%=destaques[i -1].get().imagem[0].imagem%>"
                                                class="card-img-top" alt="Nome do produto">
                                            <div class="card-body">
                                                <h5 class="card-title text-truncate" id="nomeProduto"><%=destaques[i -1].nome%></h5>
                                                <p class="card-text" id="precoProduto"><%=destaques[i -1].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})%></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <%}%>
                        </div>
                    </div>
            </div>
                <a class="carousel-control-prev carrossel" href="#carouselStoreDeals" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left text-blue arrow"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carrossel" href="#carouselStoreDeals" role="button" data-slide="next">
                    <i class="fas fa-chevron-right text-blue arrow"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        
                    
    </div>
</section><!-- featured -->

    <%- include('./partials/newsletter') %>

    

    <section id="newDeals">
        <div class="container">
                <div class="h3 text-blue">Novos na loja</div>
                <div class="row justify-content-center">
                    <% for (let i = 0; i <=5; i++) {%>
                    <div class="col-md-2 col-12 px-1 py-2">
                        <a href="/produto/detalheProduto?id=<%=itens[(itens.length -1) - i].id%>" class="text-decoration-none text-blue">
                            <div class="card tamanho">
                                <img id="imagemProduto" src="<%=itens[(itens.length -1) - i].get().imagem[0].imagem%>" id="imagemProduto" class="card-img-top" alt="Nome do produto">
                                <div class="card-body">
                                    <h5 class="card-title text-truncate" id="nomeProduto"><%=itens[(itens.length -1) - i].nome%></h5>
                                    <p class="card-text" id="precoProduto"><%=itens[(itens.length -1) - i].preco.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})%></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%}%>
                </div>   
        </div>
    </section><!-- deals -->

    <section id="deals">
        <div class="container">
            <div class="h3 text-blue">Categorias populares</div>
            <div class="row justify-content-center">    
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[0].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-carrot"></i>
                    </div>
                    <p>Alimentação</p>
                </a>                
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[1].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-pills"></i>
                    </div>
                    <p>Farmácia</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[2].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-soap"></i>
                    </div>
                    <p>Higiene</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[3].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-sleigh"></i>
                    </div>
                    <p>Camas</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[4].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fab fa-cloudsmith"></i>
                    </div>
                    <p>Brinquedos</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[5].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <p>Casinhas e Acessórios</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[6].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-baby-carriage"></i>
                    </div>
                    <p>Passeio</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[7].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-atlas"></i>
                    </div>
                    <p>Adestramento</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[8].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-hat-wizard"></i>
                    </div>
                    <p>Roupas e Acessórios</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[9].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-ruler-vertical"></i>
                    </div>
                    <p>Arranhadores</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[11].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-neuter"></i>
                    </div>
                    <p>Coleiras</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[12].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-stroopwafel"></i>
                    </div>
                    <p>Comedouros e Bebedouros</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[14].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="far fa-calendar"></i>
                    </div>
                    <p>Aquário</p>
                </a>
                <a href="/produto/categoriaProduto?id=<%=categoriaProduto[17].id%>" class="categoriaLink justify-content-center">
                    <div class="icon">
                        <i class="fas fa-solar-panel"></i>
                    </div>
                    <p>Gaiolas Hamster</p>
                </a>
            </div>
        </div>
    </section><!-- deals -->

    <%- include('./partials/footer') %>