<%- include('./partials/header') %>

<section id="perfil">
    <div class="container divInfo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none container opcoes">
            <a class="active-option" href="#">Opções</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-down"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="active" href="perfil.html"><i class="fas fa-user"></i> Dados Cadastrais</a>
                    </li>
                    <li class="nav-item">
                        <a href="perfilCompras.html"><i class="fas fa-shopping-bag"></i> Minhas Compras</a>
                    </li>
                    <li class="nav-item">
                        <a href="perfilVendas.html"><i class="fas fa-clipboard-check"></i> Minhas Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a href="cadastroProduto.html"><i class="fas fa-handshake"></i>Vender</a>
                    </li>
                    <li class="nav-item">
                        <a href="cadastroAdocao.html"><i class="fas fa-paw"></i>Doar</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-3 d-none d-md-block" id="links">
                <p><a href="perfil.html" class="active"><i class="fas fa-user"></i> Dados Cadastrais</a></p>
                <hr>
                <p><a href="perfilCompras.html"><i class="fas fa-shopping-bag"></i> Minhas Compras</a>
                </p>
                <hr>
                <p><a href="perfilVendas.html"><i class="fas fa-clipboard-check"></i> Minhas Vendas</a></p>
                <hr>
                <p><a href="cadastroProduto.html"><i class="fas fa-handshake"></i> Vender</a></p>
                <hr>
                <p><a href="cadastroAdocao.html"><i class="fas fa-paw"></i> Doar</a></p>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="row justify-content-center">
                    <h1>Área do Cliente</h1><br>
                </div>
                <div class="row campo-nome justify-content-center w-100">

                    <div class="col-12" id="fotoUser">
                        <% if(!usuario.imagem) {%>
                        <a href="login.html" class="material-icons" id="iconeUser">account_circle</a>
                        <% } else { %>
                        <img src="<%= usuario.imagem %> " alt="Foto usuario" id="fotoUser">
                    </div>
                    <% } %>
                    <div class="col-12 d-flex justify-content-center align-items-center p-1
                    " id="nomeUser">
                        <h4 class="m-0"><%=usuario.nome%></h4>
                    </div>
                </div>
                <div class="row campo-info">
                    <div class="col-md-12">

                        <p><strong>Email:</strong> <%=usuario.email%></p>
                        <p><strong>CPF:</strong><%=usuario.cpf_cnpj%></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('./partials/footer') %>