<%- include('./partials/header') %>

<section id="perfil">
    <div class="container divInfo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none container opcoes">
            <a class="active-option" href="#">Opções</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-down"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="active" href="/usuario"><i class="fas fa-user"></i> Dados Cadastrais</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/perfilCompras"><i class="fas fa-shopping-bag"></i> Minhas Compras</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/perfilVendas"><i class="fas fa-clipboard-check"></i> Minhas Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a href="cadastroProduto.html"><i class="fas fa-handshake"></i>Vender</a>
                    </li>
                    <li class="nav-item">
                        <a href="cadastroAdocao.html"><i class="fas fa-paw"></i>Doar</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-3 d-none d-md-block" id="links">
                <p><a href="/usuario" class="active"><i class="fas fa-user"></i> Dados Cadastrais</a></p>
                <hr>
                <p><a href="/usuario/perfilCompras"><i class="fas fa-shopping-bag"></i> Minhas Compras</a>
                </p>
                <hr>
                <p><a href="/usuario/perfilVendas"><i class="fas fa-clipboard-check"></i> Minhas Vendas</a></p>
                <hr>
                <p><a href="cadastroProduto.html"><i class="fas fa-handshake"></i> Vender</a></p>
                <hr>
                <p><a href="cadastroAdocao.html"><i class="fas fa-paw"></i> Doar</a></p>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="row justify-content-center">
                    <h1>Área do Cliente</h1><br>
                </div>
                <div class="row campo-nome justify-content-center w-100">

                    <div class="col-12" id="fotoUser">
                        <% if(!usuario.imagem) {%>
                        <!-- <a href="/login" class="material-icons" id="iconeUser">account_circle</a> -->
                        <img src="../public/images/profiles/default.png" alt="Foto usuario" id="fotoUser">
                        <% } else { %>
                        <img src="../<%= usuario.imagem %> " alt="Foto usuario" id="fotoUser">
                        <% } %>
                    </div>

                    <div class="col-12 d-flex justify-content-center align-items-center p-1" id="nomeUser">
                        <h4 class="m-0"><%=usuario.nome%></h4>
                    </div>
                </div>
                <div class="row campo-info">
                    <div class="col-md-12">

                        <p><strong>Email:</strong> <%=usuario.email%></p>
                        <p><strong>CPF:</strong><%=usuario.cpf_cnpj%></p>
                        <% if(!endereco) {%>
                        <!-- Botão para acionar modal -->
                        <button type="button" class="btn btn-site" data-toggle="modal" data-target="#modalExemplo">
                            Adicionar Endereço
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Adicione seu endereço</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/usuario/cadastroEndereco" method="POST">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="cep" name="cep"
                                                    aria-describedby="emailHelp" placeholder="CEP">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="logradouro" name="logradouro"
                                                    aria-describedby="emailHelp" placeholder="Logradouro">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control" id="numero" name="numero"
                                                        placeholder="Número">
                                                </div>
                                                <div class="form-group col-md-9">
                                                    <input type="text" class="form-control" id="bairro" name="bairro"
                                                        placeholder="Bairro">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <select name="estado" id="estado" class="form-control estado">
                                                        <option value="0" selected disabled> Estado </option>
                                                        <% for(e of estados){%>
                                                        <option id="<%=e.id%>" value="<%=e.id%>">
                                                            <%=e.estado%></option>
                                                        <%}%>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-9">
                                                    <select name="cidade" id="cidade" class="form-control">
                                                    <option value="0" selected disabled>Cidade</option>
                                                </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-site" data-dismiss="modal">Descartar
                                            Alterações</button>
                                        <button type="submit" class="btn btn-site">Salvar Endereço</button>
                                    </div>
                                    </form>
                                </div>
                            <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                                                     
</section>
<script src="/javascripts/perfil.js"></script>

<%- include('./partials/footer') %>